<mat-grid-list cols="5" rowHeight="100%" class="grid">
  <mat-grid-tile [colspan]="4">
    <div class="card-wrapper">

      <mat-card class="card">
        <h1>Настройки</h1>
        <h3>НАЗВАНИЕ БАННЕРА</h3>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label></mat-label>
          <input matInput placeholder=" " value="Banner1">
        </mat-form-field>

        <!-- <hr> -->
        <div style="display: flex; justify-content: space-between;">

          <span>
            <div>
              <mat-form-field class="input-style" appearance="outline">
                <mat-label style="color: white;">January 25, 2022</mat-label>
                <input matInput [matDatepicker]="picker1">
                <mat-hint></mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1>
                  <mat-datepicker-actions>
                    <div class="picker-buttons">
                      <button mat-raised-button color="primary" matDatepickerApply>Установить дату</button>
                      <button mat-button matDatepickerCancel style="margin-left: 0;">Отменить</button>
                    </div>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>

              <mat-form-field class="input-style" appearance="outline">
                <mat-label style="color: white;">January 25, 2022</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-hint></mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2>
                  <mat-datepicker-actions>
                    <div class="picker-buttons">
                      <button mat-raised-button color="primary" matDatepickerApply>Установить дату</button>
                      <button mat-button matDatepickerCancel style="margin-left: 0;">Отменить</button>
                    </div>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>

            <div>
              <mat-checkbox color="primary" class="example-margin">БЕССРОЧНЫЕ АКЦИИ</mat-checkbox>
            </div>
          </span>

          <span>
            <!-- type="time" -->
            <div>

              <mat-form-field class="input-style" appearance="outline">
                <mat-label></mat-label>
                <input matInput type="time" placeholder=" " value="Время">
              </mat-form-field>

              <mat-form-field class="input-style" appearance="outline">
                <mat-label></mat-label>
                <input matInput type="time" placeholder=" " value="Время">
              </mat-form-field>
            </div>
            <div>

              <mat-checkbox color="primary" class="example-margin">ВСЕ ВРЕМЯ</mat-checkbox>
            </div>
          </span>
        </div>
        <h3>ДНИ</h3>
        <div>
          <mat-checkbox color="primary" class="example-margin" [checked]="true">Пн</mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" [checked]="true">Вт</mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" [checked]="true">Ср</mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" [checked]="true">Чт</mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" [checked]="true">Пт</mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" [checked]="true">Сб</mat-checkbox>
          <mat-checkbox color="primary" class="example-margin" [checked]="true">Вс</mat-checkbox>
        </div>
        <!-- style="margin: 50px 0px 10px 0px  ; font-size: 15px;" -->
        <h3 style="display: flex; align-content: center; align-items: center;">
          <span style="margin-right: 5px;font-size: 10px;">ВЫБЕРИТЕ ГОРОД</span>
          <mat-icon style="font-size: 15px; height: 17px; width: 17px;">help_outline</mat-icon>
        </h3>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Выберите город</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of foods" [value]="food">
                {{food}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card>
      <button mat-raised-button color="primary" style="float: right;width: 200px;margin-right: 1rem;">Продолжить</button>

    </div>

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1">
    <div class="card-wrapper">

      <mat-card class="card">
        <mat-stepper orientation="vertical">
          <mat-step>
            <ng-template matStepLabel>Настройки баннера</ng-template>
            <!-- <ng-template matStepContent>
              <p>This content was rendered lazily</p>
              <button mat-button matStepperNext>Next</button>
            </ng-template> -->
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Контент</ng-template>
            <!-- <p>This content was rendered eagerly</p>
            <button mat-button matStepperPrevious>Back</button> -->
          </mat-step>
        </mat-stepper>
      </mat-card>
    </div>

  </mat-grid-tile>
</mat-grid-list>